<!--
    This is your showcase.
    Just use it to
    * demonstrate elements of your webpackage,
    * evaluate the integration with elements of other webpackages,
    * test the integration with the dom-api.
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= elementName %></title>

    <script src="../../cubx.core.rte@4.0.0-SNAPSHOT/webcomponents/webcomponents.bundle.js"></script>
<!--
    <script src="../../cubx.core.rte@4.0.0-SNAPSHOT/webcomponents/custom-elements-es5-adapter.js"></script>
    <script src="../../cubx.core.rte@4.0.0-SNAPSHOT/webcomponents/webcomponents-lite.js"></script>
--> 
<script>
    window.cubx = {
        CRCInit: {
            rootDependencies: [
                {
                    webpackageId: 'com.incowia.basic-html-components@2.0.0-SNAPSHOT',
                    artifactId: 'cubx-textarea'  
                }
            ]  
        }
    };
  </script>
    <script src="../../cubx.core.rte@4.0.0-SNAPSHOT/crc-loader/crc-loader.bundle.js" data-crcinit-loadcif="true"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <h1><%= elementName %></h1>
        </div>
        <hr>
        <div>
            <h2>With default slot values</h2>
            <<%= elementName %> cubx-webpackage-id="this" id="e1"></<%= elementName %>>
        </div>
        <div>
          <h2>With default slot values</h2>
          <<%= elementName %> cubx-webpackage-id="this" id="e2"></<%= elementName %>>
      </div>
    </div>

    <button id="button" disabled>Add dynamic connection</button>
  <hr>
  
  <script>
  (function(){
    'use strict';

    var button = document.querySelector('#button');

    // 1. Get the source and destination components from DOM
    var sourceTextArea = document.querySelector('#e1');
    var destinationTextArea = document.querySelector('#e2');

    // 2. Listen to the 'cifReady' event to enable the 'Add dynamic connection' button
    document.addEventListener('cifReady', function(event) {
      button.removeAttribute('disabled');
    });

    // 3. Listen to the 'click' event
    button.addEventListener('click', function () {
      // 4. Instantiate and set the properties of the DynamicConnection object
      var dynCon = new window.cubx.cif.DynamicConnection();
      dynCon.setSourceRuntimeId(sourceTextArea.getAttribute('runtime-id'));
      dynCon.setSourceSlot('conversion');
      dynCon.setDestinationRuntimeId(destinationTextArea.getAttribute('runtime-id'));
      dynCon.setDestinationSlot('base');
      dynCon.setDirectExecution(true);

      // 5. Add the DynamicConnection to the source component
      sourceTextArea.addDynamicConnection(dynCon);

      // 6. Disable the 'Add dynamic connection' button
      button.setAttribute('disabled', 'disabled');
    });
  })()
  </script>
</body>

</html>
